# Set these variables to enable Basic Authentication for the FTP App
# For a single user:
APP_USERNAME=admin
APP_PASSWORD=supersecretpassword

# Or for multiple users (comma separated user:password pairs):
# APP_USERS=admin:supersecret,john:doe123,jane:smith456
